  ---
  import Header from "../components/Header.astro";
  import WhatsAppButton from "../components/WhatsAppButton.astro";
  import "../styles/global.css";

  interface Props {
    title: string;
  }

  const { title } = Astro.props;
  ---

  <!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/icons/soplao.svg" />
      <link rel="apple-touch-icon" href="/icons/soplao.svg" />
      <link rel="mask-icon" href="/icons/soplao.svg" color="#EAB308" />
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
    </head>
    <body>
      <Header />

      <WhatsAppButton 
        phone=" +56997164212"
        message="Hola! Me gustaría consultar por sus servicios de limpieza" 
      />
      <slot />
      <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script is:inline>
        AOS.init({
          duration: 800,
          once: true,
          disable: 'mobile'
        });
      </script>
    </body>
  </html>